@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.4;
}

.container_blog {
  background: rgb(255, 255, 255);
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
/* .menu_area ul {
  background-color: black;
  display: flex;
  height: 30px;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
} */

.post {
  background: rgb(42, 229, 239);
  padding: 20px;
  margin-bottom: 20px;
}
.menu_area ul a {
  color: white;
  text-transform: uppercase;
}

/* Página Home */
.home_blog_posts {
  min-height: 40vh;
  width: 100%;
  padding: 0 20px;
}

.destaque_principal{ 
  width: 100%; 
  min-height: 10vh;
  margin-bottom: 40px;
}

.destaque_principal .img_filter,.destaque .img_filter {
  width: 100%;
  position: relative;
  background: #adadad7a url(../img/icones/image.png) no-repeat center/50px;
}

.destaque_principal .img_filter { height: 300px; }
.destaque .img_filter { height: 150px; }

.img_filter::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4a90e27a;
  mix-blend-mode: overlay;
  z-index: 1;
}

.img_filter::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #8d0063a3;
  mix-blend-mode: lighten;
  z-index: 2;
}

.img_filter > a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.img_filter > img {
  filter: grayscale(0.9);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.categoria_destaque_principal {
  background: #FF9900;
  width: 80%;
  translate: 0 -50%;
  padding: 15px 10px;
  position: relative;
  z-index: 3;
}

.categoria_destaque_principal > a {
  font-size: 14px;
  color: black;
  font-weight: 700;
  z-index: 4;
}

.text_container_destaque_principal .post_title {
  font-size: 19px !important;
  font-weight: 700;
  padding: 0 10px;
  transform: translateY(-10px);
}

.text_container_destaque_principal p {
  padding: 0 10px 10px 10px;
}

.autor, .tags {
 font-weight: 700 !important;
 font-size: 14px !important;
 padding: 0 10px !important;
}

.autor a, .tags a{
  font-weight: 700 !important;
  border-bottom: 1px solid black;
 }

/* Destaque Secundário */
.destaque {
  background: #EAEEF4;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.text_container_destaque .post_title {
  font-size: 19px !important;
  font-weight: 700;
  padding: 0 10px 10px 10px ;
}

.text_container_destaque p {
  padding: 0 10px 10px 10px;
}
.categoria_destaque {
  width: 80%;
  padding: 15px 10px;
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
}

.categoria_destaque::before {
  content: "";
  width: 100%;
  height: 10px;
  background: #FF9900;
  position: absolute;
  top: -5px;
  left: 0;
}

.categoria_destaque > a {
  font-size: 14px;
  color: black;
  font-weight: 700;
}
/* Fim Destaque Secundário */

/* Rodapé */

.social_links {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.social_links ul {
  display: flex;
  gap: 20px;
}

.logo_rodape, .insta, .face, .youtube {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  text-indent: -1000px;
}

.logo_rodape { width: 57px; height: 57px; }
.logo_rodape { background-image: url(../img/fav_icon.png);}

.insta, .face, .youtube { display: block; width: 40px; height: 40px;}
.insta{ background-image: url(../img/icones/instagram.png);}
.face{ background-image: url(../img/icones/facebook.png);}
.youtube{ background-image: url(../img/icones/youtube.png);}


.credito_footer {
  margin-top: 10px;
  background: #270D36;
  height: 70px;
  padding: 20px;
  font-size: 12px;
  color: white !important;
  text-align: center;
  margin-top: 30px;
}

.credito_footer a { color: #FF9900; font-weight: 700;}

/* Fim rodapé */

/* Inicio Menu */

.container_logo {
  height: 124px;
  background: linear-gradient(90.07deg, #270D36 50%, #000000 100%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
}

.logo_blog h1{
  font-weight: 300 !important;
  font-size: 29px;
  text-transform: uppercase;
}

.logo {
  background-image: url(../img/logo-keevo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: inline-block;
  width: 140px;
  height: 55px;
  text-indent: -200px;
  transform: translateY(-24px);
}

#menu-control-open {
  height: 31px;
  width: 31px;
  overflow: hidden;
  align-self: center;
  background-image: url(../img/icones/hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 85%;
  transform: translateY(16px);
  text-indent: -100px;
}

.blog {
  font-weight: 700;
}

#menu_area {
  background: tomato;
  transition: right ease-in-out 0.9s;
  position: absolute;
  z-index: 1;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  top: 0;
  right: -100vw;
  z-index: 9;
}



#menu_area.active {
  background: rgb(71, 114, 255);
  right: 0;
}

#menu_area.desktop {
  width: 20vw;
  margin-left: 0;
}

nav {
  background-color: white;
}
.container {
  background-color: lime;
  min-height: 120vh;
}

.boqueiaScroll {
  overflow: hidden;
}
.container_menu{
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 1000px) {
  #menu-control-open, #menu-control-close {
    display: none;
  }

  #menu_area {
    width: 20vw;
    position: initial;
    margin-left: 0;
    transition: none;
  }
}


/* Fim menu */



.form {
  background-color: gold;
  min-height: 50vh;
  padding: 20px 0;
  margin: 40px 0;
}

.noticia_destaque{
  border: solid 1px black;
  padding-bottom: 20px;
}

.img_container_destaque_principal{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img_container_destaque{
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.img_container_destaque img, .img_container_destaque_principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
