.container_blog {
  background: rgb(255, 255, 255);
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
}
.menu_area ul {
  background-color: black;
  display: flex;
  height: 30px;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.post {
  background: rgb(42, 229, 239);
  padding: 20px;
  margin-bottom: 20px;
}
.menu_area ul a {
  color: white;
  text-transform: uppercase;
}

.form {
  background-color: gold;
  height: 60px;
  padding: 20px 0;
  margin: 40px 0;
}

.hero {
  background-color: gold;
  height: 30vh;
}

.home_blog_posts {
  height: 40vh;
  background-color: teal;
}